.form-container-dashboard {
    background-color: #20295e;
}

.beba {
    background-image: url("../../assets/images/thunder.png");
    background-repeat: repeat-x round;
    width:80%;
    margin: 0 auto;
}

.card-user-container {
    margin: 1.2em 0 1rem 0;
    background-color: #fefefe;
    color: #0a0a0a;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
  }
  
  .card-user-container .card-user-avatar .user-image {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 11.875rem;
    height: 11.875rem;
    padding: 0.9375rem;
  }
  
  .card-user-container .card-user-avatar .user-image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card-user-container .card-user-bio {
    padding: 1rem;
    text-align: center;
  }
  
  .card-user-container .card-user-bio .location {
    display: inline-block;
    margin: 0 0.9375rem;
    color: #767676;
    font-size: 0.875rem;
  }
  
  .card-user-container .card-user-bio .location-icon,
  .card-user-container .card-user-bio .location-text {
    display: inline-block;
    padding: 0 0.3125rem;
  }
  
  .card-user-container .card-user-social {
    background: #e6e6e6;
    padding: 1rem;
    text-align: center;
  }
  
  .card-user-container .card-user-social ul {
    display: inline-block;
  }
  
  .card-user-container .card-user-social ul li {
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .card-user-container .card-user-social ul li:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card-user-container .card-user-button {
    text-align: center;
    padding: 1rem;
  }
  
/* */


.posts-panel {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: none !important;
    margin: 1.25rem 0.625rem;
    background-color: #fefefe;
    border-radius: 0;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2);
  }
  
  .posts-panel::before, .posts-panel::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel::after {
    clear: both;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel, .posts-panel:last-child {
    float: none;
  }
  
  .posts-panel .panel-header {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    border-bottom: 0.25rem solid #e6e6e6;
  }
  
  .posts-panel .panel-header::before, .posts-panel .panel-header::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel .panel-header::after {
    clear: both;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel .panel-header {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel .panel-header:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .panel-header, .posts-panel .panel-header:last-child {
    float: none;
  }
  
  .posts-panel .panel-header .panel-title {
    margin: 0;
    padding: 0.9375rem 0;
    color: #8a8a8a;
    font-size: 1.625rem;
  }
  
  .posts-panel .panel-content {
    padding: 0.9375rem 0;
  }
  
  .posts-panel .pinned-post, .posts-panel .posts-list {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0;
    padding-left: 0;
  }
  
  .posts-panel .pinned-post::before, .posts-panel .pinned-post::after, .posts-panel .posts-list::before, .posts-panel .posts-list::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel .pinned-post::after, .posts-panel .posts-list::after {
    clear: both;
  }
  
  .posts-panel .pinned-post:last-child:not(:first-child), .posts-panel .posts-list:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .pinned-post, .posts-panel .pinned-post:last-child, .posts-panel .posts-list, .posts-panel .posts-list:last-child {
    float: none;
  }
  
  .posts-panel .posts-list .post-item:not(:last-child) {
    border-bottom: 0.0625rem solid #e6e6e6;
  }
  
  .posts-panel .post-item {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0.9375rem 0;
  }
  
  .posts-panel .post-item::before, .posts-panel .post-item::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel .post-item::after {
    clear: both;
  }
  
  .posts-panel .post-item .post-thumbnail {
    display: block;
    width: 33.33333%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel .post-item .post-thumbnail {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel .post-item .post-thumbnail:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .post-item .post-thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .posts-panel .post-item .post-text {
    width: 66.66667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel .post-item .post-text {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel .post-item .post-text:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .post-item .post-text p {
    margin: 0;
  }
  
  .posts-panel .post-item .post-title {
    font-size: 1.625rem;
  }
  
  .posts-panel .post-item .post-meta {
    color: #8a8a8a;
    font-size: 0.875rem;
  }
  
  .posts-panel .post-item .meta {
    display: inline-block;
    margin-right: 0.9375rem;
  }
  
  .posts-panel .post-item .meta-icon, .posts-panel .post-item .meta-text {
    display: inline-block;
    padding-right: 0.3125rem;
  }
  
  .posts-panel .post-item .post-read-more {
    display: block;
    font-size: 0.875rem;
  }
  
  .posts-panel .post-item .post-read-more .fa {
    padding: 0 0.3125rem;
  }
  
  .posts-panel .pinned-post .post-item {
    border-bottom: 0.0625rem solid #e6e6e6;
  }
  
  .posts-panel .pinned-post .post-thumbnail {
    display: block;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  .posts-panel .pinned-post .post-thumbnail::before, .posts-panel .pinned-post .post-thumbnail::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel .pinned-post .post-thumbnail::after {
    clear: both;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel .pinned-post .post-thumbnail {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel .pinned-post .post-thumbnail:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .pinned-post .post-thumbnail, .posts-panel .pinned-post .post-thumbnail:last-child {
    float: none;
  }
  
  .posts-panel .pinned-post .post-thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .posts-panel .pinned-post .post-text {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-top: 0.9375rem;
  }
  
  .posts-panel .pinned-post .post-text::before, .posts-panel .pinned-post .post-text::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .posts-panel .pinned-post .post-text::after {
    clear: both;
  }
  
  @media print, screen and (min-width: 40em) {
    .posts-panel .pinned-post .post-text {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .posts-panel .pinned-post .post-text:last-child:not(:first-child) {
    float: right;
  }
  
  .posts-panel .pinned-post .post-text, .posts-panel .pinned-post .post-text:last-child {
    float: none;
  }
  
  @media screen and (max-width: 39.9375em) {
    .posts-panel .posts-list .post-title {
      font-size: 1.125rem;
    }
    .posts-panel .posts-list .post-meta {
      font-size: 0.75rem;
    }
    .posts-panel .posts-list .post-summary {
      font-size: 0.75rem;
    }
    .posts-panel .posts-list .post-read-more {
      display: none;
    }
  }
  
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .posts-panel .posts-list .post-title {
      font-size: 1.25rem;
    }
    .posts-panel .posts-list .post-meta {
      font-size: 0.875rem;
    }
    .posts-panel .posts-list .post-summary {
      font-size: 0.875rem;
    }
  }
  
  .posts-panel.grid .pinned-post, .posts-panel.grid .posts-list {
    width: 50%;
    float: left;
    padding-right: 0;
    padding-left: 0;
  }
  
  .posts-panel.grid .pinned-post:last-child:not(:first-child), .posts-panel.grid .posts-list:last-child:not(:first-child) {
    float: right;
  }
  
  @media screen and (max-width: 39.9375em) {
    .posts-panel.grid .pinned-post, .posts-panel.grid .posts-list {
      max-width: 75rem;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      float: left;
      padding-right: 0;
      padding-left: 0;
    }
    .posts-panel.grid .pinned-post::before, .posts-panel.grid .pinned-post::after, .posts-panel.grid .posts-list::before, .posts-panel.grid .posts-list::after {
      display: table;
      content: ' ';
      -webkit-flex-basis: 0;
          -ms-flex-preferred-size: 0;
              flex-basis: 0;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
    }
    .posts-panel.grid .pinned-post::after, .posts-panel.grid .posts-list::after {
      clear: both;
    }
    .posts-panel.grid .pinned-post:last-child:not(:first-child), .posts-panel.grid .posts-list:last-child:not(:first-child) {
      float: right;
    }
    .posts-panel.grid .pinned-post, .posts-panel.grid .pinned-post:last-child, .posts-panel.grid .posts-list, .posts-panel.grid .posts-list:last-child {
      float: none;
    }
  }
  
  .posts-panel.grid .pinned-post .post-item {
    border: 0;
  }
  
  .posts-panel.grid .posts-list .post-title {
    font-size: 1.125rem;
  }
  
  .posts-panel.grid .posts-list .post-meta {
    font-size: 0.75rem;
  }
  
  .posts-panel.grid .posts-list .post-summary {
    font-size: 0.75rem;
  }
  
  .posts-panel.grid .posts-list .post-read-more {
    display: none;
  }

  button .fav {
    position: relative;
    width: 20px;
    right: 5px;
  }
  
  span {
    cursor: pointer;
  }

  /* Header */
  
.topbar-responsive {
  background: #20295e;
  opacity: 0.5;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  font-size: 2.5rem;
}

.topbar-responsive .menu {
  background: #20295e;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

.heroesFav {
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .posts-panel {
    background: linear-gradient(to top, #20295e, #fff);
  }
}